.report-container{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 15px;
    margin: 15px 0;
}

.report-container>div{
    flex: 1;
    text-align: center;

}

.report-container>div:first-of-type /*สร้าง ด้านขวามือของ div ก้อนแรก*/{
    border-right: 1px solid #dede;
}

.report{
    font-size: 20px;
    letter-spacing: 1px;
    margin: 5px 0;
}

.report.plus{
    color: #2ecc71;
}

.report.minus{
    color: red;
}