.item-list{
    list-style-type: none;
    padding: 0;
    margin-bottom: 40px;
}

.item-list li{
    background-color: white;
    box-shadow: 0 1px 1px rgb(26, 24, 24);
    padding: 15px;
    color: #333;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    position: relative;
}